[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
boto3 = "*"
django-health-check = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
requests = "*"
sentry-sdk = "*"
structlog = "*"

[dev-packages]
backoff = "*"
isort = "*"
pipenv = "*"
pytest = "*"
