$color_defaultFontColor   	: #303030 ;
$color_title              	: #000000 ;
$color_titleTag           	: #C8D3DB ;
$color_titlePhoto         	: #FFFFFF ;
$color_titlePhotoBorder    	: #F0F0F0 ;
$color_menuItem           	: #000000 ;
$color_menuPrimary        	: #444444 ;
$color_menuSecondary      	: #B0B0B0 ;
$color_menuBorder         	: #EAEAEA ;
$color_loadingBackground  	: #FFFFFF ;
$color_preloadPrimary     	: #2C3E47 ;
$color_preloadSecondary   	: transparent ;
$color_footerText         	: #AAA ;
$color_consoleModeText      : #29ff29 ;

$color_twitter   : #55acee;
$color_facebook  : #3b5998;
$color_youtube   : #ff0000;
$color_instagram : #e1306c;
$color_whatsapp  : #25D366;
$color_linkedin  : #0077b5;
