@import "~normalize.css";
@import 'mixins';
@import 'colors';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700');
@import url('http://fonts.googleapis.com/css?family=PT+Serif');
@import url('http://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800');


$titlePhoto_overall_height: 100px;
$titlePhoto_borderWidth: 1px;
$titlePhoto_padding: 3px;
$titlePhoto_height: $titlePhoto_overall_height - (($titlePhoto_borderWidth + $titlePhoto_padding)*2);
$titlePhoto_backgroundDiameter: $titlePhoto_height/2;


// SOURCE: https://css-tricks.com/snippets/css/clear-fix/
.clear:after {
  content: "";
  display: table;
  clear: both;
}

@media all
{
	// Effects & Animations
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	@include keyframes(preloader) {
		0% { @include transform_rotate(0deg) }
		50% { @include transform_rotate(180deg); background:$color_preloadSecondary; }
		100% { @include transform_rotate(360deg); }
	}

	@include keyframes(spin) {
		100% { @include transform_rotate(360deg); }
	}

	// General
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	html, body {
		width: 100%;
		height: 100%;
		color: $color_defaultFontColor;
		@include transition(all .5s ease);
		font-family: "Open Sans", sans-serif;
	}

	h2 {
		margin: 0;
	}

	.column {
		margin: 0 auto;
		width: 900px;
	}

	#fadeout {
    position: fixed;
		z-index: 200;
    bottom: 0em;
		opacity: 0;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
	}

	.hidden {
		visibility: hidden !important;
		opacity: 0 !important;
	}

	// Loading animation
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	.off {
		-moz-animation-name: none !important;
		-webkit-animation-name: none !important;
		-ms-animation-name: none !important;
		animation-name: none !important;
	}

	#loading {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 300;
		background: $color_loadingBackground;
	}

	#preloader-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform_translate(-50%, -50%);
	}

	#preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
		width: 30px;
		height: 30px;
		background: $color_preloadSecondary;
		@include border-radius(50px); //border-radius: 50px;
		@include animation(spin 0.5s infinite linear);

		&:after {
			position:absolute;
			width:50px;
			height:50px;
			border-top:2px solid $color_preloadPrimary;
			border-bottom:2px solid $color_preloadPrimary;
			border-left:2px solid transparent;
			border-right:2px solid transparent;
			@include border-radius(50px); //border-radius: 50px;
			content:'';
			top:-12px;
			left:-12px;
		}
	}

  // Showreel
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  #showreel {
    // https://stackoverflow.com/a/37309881
    // https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/
    // https://slicejack.com/fullscreen-html5-video-background-css/
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0 ;

    & .player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      overflow: hidden;
      //z-index: -10;

      & iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform_translate(-50%, -50%);
      }
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;

    & nav {
      width: 100%;
      //height: 80px;
      height: $titlePhoto_overall_height ;
      margin-top: 10vh;

      & #left {
        float: left;
        margin-left: 15vw;
        height: 100%;
      }

      & #right {
        float: right;
        margin-right: 15vw;
        height: 100%;
      }

      & #picture_wrapper {
        width: $titlePhoto_overall_height;
        clear: both;
        margin: 0 auto;
      }

      & #picture_border {
        padding: $titlePhoto_padding;
        @include border-radius($titlePhoto_height);
        //z-index: 15;
        border: $titlePhoto_borderWidth solid $color_titlePhotoBorder_dark;
      }

      & #picture {
        @include border-radius($titlePhoto_backgroundDiameter);
        width: $titlePhoto_height;
        height: $titlePhoto_height;
        background-color: $color_titlePhotoBorder_dark;
        background: url('../avatar.png');
        background-size: cover;
      }

      & #menu {
        height: 100%;
        @include transform_translate(0, 50%);

        a {
          text-decoration: none;
          color: #000;
        }

        & ul {
          padding: 0;
          margin: 0;
        }

        & ul > li {
            display: inline-block;
            @include transform_translate(0, -50%);
        }

        .menu_item {
          display: block;
          background-color: rgba(255, 255, 255, 0);
          padding: 10px 15px;
          margin-left: 9px;

          font-family: 'Barlow', sans-serif;
          text-transform:uppercase;
          font-weight: 500;
          // letter-spacing: 2pt;
          color: #FFF;

          &:hover {
            color: #000;
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    & nav:after {
      content: "";
      display: table;
      clear: both;
    }

    & #welcome {
      position: absolute;
      bottom: 0;
      margin-bottom: 30vh;
      width: 100%;
      // margin-top: 50vh;

      & #title {
        //clear: both;
        //width: 100%;
        //margin: 30px auto 0;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 67px;
        font-weight: 600;

        /* offset-x | offset-y | blur-radius | color */
        //text-shadow: 0px 0px 20px black;

        // & span {
        // 	//color: $color_title;
        // 	// font-family: 'Helvetica Neue', sans-serif;
        // 	font-family: 'Barlow', sans-serif;
        // 	font-size: 32px;
        // 	font-weight: 600;
        // 	// letter-spacing: 0.03em;
        // 	// z-index: 15;
        // }
      }

      & #title_tagline {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 21px;
        // font-weight: 600;
        //text-shadow: 0px 0px 20px black;
        //margin-top: 4px ;
      }

    }
  }

  #post_showreel {
    background-color: #FFFFFF;
    z-index: 100;
    margin-top: 100vh;
  }

	// Social
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	// SOURCE: https://github.com/Automattic/social-logos
	// SOURCE: https://gist.github.com/mrmartineau/314b01b300fa20a5a820a4d6889ffd42

	$icon_size : 20px;
  $icon_padding : 4px;
  $n_social_icons : 3;

	#social {
		width: 100%;
		clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    #icons {
  		margin: 0 auto;
      display: inline-block;
      //width: ($icon_size + ($icon_padding * 2)) * $n_social_icons;

  		.icon_wrap {
  			// background-color: rgba(#fff, .2);
        // border-radius: 50%;
        float: left;
  			padding: 0 $icon_padding;
  			width: $icon_size;
  			height: $icon_size;

  			a {
  				display: inline-block;
  				color: #FFF;

  				.icon {
  					max-width: 100%;
  					vertical-align: top;
  					width: $icon_size;
  					height: $icon_size;
  				}

  				&:hover {
  					//background-color: rgba(#fff, .7);

  					.icon {
  						//color: #DDD;
              color: #FFF;
  					}
  					.icon_youtube {
  						color: $color_youtube;
  					}
  					.icon_instagram {
  						color: $color_instagram;
  					}
  					.icon_linkedin {
  						color: $color_linkedin;
  					}
  				}
  			}
  		}
  	}
	}



	// Content
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	.content {
		clear: both;
		width: auto;
		margin: 50px 0 0;
		opacity: 1;
		@include transition(all .5s ease);
	}

	.content_hidden {
		opacity: 0 !important;
	}

  .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & .item {
      width: 280px;
      height: 280px;
      margin: 10px ;
      background-color: #EEE;
    }
  }

	article {
		font-family: 'Open Sans', serif;
		clear: both;
		margin-bottom: 10px;

		& .meta {
			text-transform: uppercase;
			color: #A1A1A1;
			font-size: 14px;
			width: 100%;
			text-align: left;
			margin-bottom: 35px;
		}

		& .meta-background {
			width: 100%;
			height: 290px;
			background-size: cover;
			margin-bottom: 25px;
		}

		& > h2 {
			font-size: 44px;
			font-weight: 700;
			letter-spacing: -0.04em;
			line-height: 1em;
			margin-left: -4px;
			margin-bottom: 10px;
			//margin-top: 72px;
			color: #222222;
		}

		& .body {
			clear: both;
			font-family: inherit;

			& p {
				font-family: 'PT Serif', serif;
				font-weight: 400;
				font-size: 21px;
				line-height: 35px;
				color: rgba(0,0,0,.8); //#2E2E2E;
			}

			& blockquote {
				& h3 {
					font-size: 32px;
					/*line-height: 1.5em;*/
					margin-bottom: 10px;
					color: #2E2E2E;
				}

				& p {
					margin-top: 0;
					color: #A1A1A1;
				}

			}
		}
	}

  // Footer
  // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  footer {
  	font-size: 14px;
  	font-weight: 300;
  	letter-spacing: 0.05em;
    margin-top: 20px;
  	margin-bottom: 75px;
  	color: $color_footerText;


  	& p {
      float: right;
      clear: both;
      margin: 2px 0;
    }

  	& a {
  		color: $color_defaultFontColor;
  	}
  }
}

@media (prefers-color_scheme: dark)
{
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* 	Everything below this line adjusts the default
		styles according to changes in viewport size. 	*/
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width: 900px)
{
	.column {
		width: 100%;
	}

  .grid {
    & .item {
      width: 180px;
      height: 180px;
    }
  }

	// nav #menu {
	// 	width: 500px;
	// }

	article > h2 {
		font-size: 35px;
		//margin-top: 50px;
	}

	article .body blockquote h3 {
		font-size: 26px;
		line-height: 1.5em;
	}

	article .body blockquote p {
		font-size: 18px;
	}
}

@media (max-width: 600px)
{
	// header {
	// 	padding: 20px 0 0;
  //
	// 	& #title {
	// 		//font-size: 20px;
	// 		//margin-left: 15px;
	// 		//margin-top: 11px;
	// 		//border-bottom: none;
	// 	}
	// }

	.column {
		width: auto;
		padding: 0 15px;
	}

  .grid {
    & .item {
      width: 150px;
      height: 150px;
      margin: 8px ;
    }
  }

	article .meta-background {
		height: 150px;
		margin-bottom: 15px;
	}

	article > h2 {
		font-size: 24px;
		//margin-top: 20px;
	}

	article .meta {
		margin-bottom: 20px;
	}

	article .body > p {
		font-size: 18px;
		line-height: 30px;
	}

	article .body blockquote h3 {
		font-size: 22px;
		line-height: 1.2em;
	}
}

@media (max-width: 450px)
{
	article .body > p {
		font-size: 16px;
		line-height: 24px;
	}

	article .body blockquote h3 {
		font-size: 18px;
		line-height: 1.0em;
	}

	article .body blockquote p {
		font-size: 14px;
	}
}

@media (max-width: 362px)
{
  .grid {
    & .item {
      width: 120px;
      height: 120px;
      margin: 5px ;
    }
  }
}

@media (max-width: 290px)
{
	article > h2 {
		font-size: 18px;
	}
}
