{% load static %}

<div id="social">
	<div id="icons" class="clear">
		<div class="icon_wrap">
			<a href="https://www.instagram.com/jackemathews">
				<svg title="Instagram" class="icon icon_instagram">
					<use xlink:href="{% static 'img/icons.svg' %}#logo-instagram"/>
				</svg>
			</a>
		</div>
		<div class="icon_wrap">
			<a href="https://www.youtube.com/channel/UC-YF0kHMudA2-srkXB-OCAg">
				<svg title="Youtube" class="icon icon_youtube">
					<use xlink:href="{% static 'img/icons.svg' %}#logo-youtube"/>
				</svg>
			</a>
		</div>
		<div class="icon_wrap">
			<a href="https://www.linkedin.com/in/jack-mathews-6bbb02197/">
				<svg title="Linkedin" class="icon icon_linkedin">
					<use xlink:href="{% static 'img/icons.svg' %}#logo-linkedin"/>
				</svg>
			</a>
		</div>
	</div>
</div>
