{% load static %}<!DOCTYPE html>
<html lang="en">

<!--
This website was developed by Charlie Mathews (charlie@charliemathews.com).
All code, images, and content are the intellectual property of Charlie Mathews (c) from 2016 onwards, unless otherwise noted.
-->

{% include "includes/head.html" %}
{% block additional_head %}
{% endblock %}

{% block body %}
<body>

<section id="loading">
  <div id="preloader-wrap">
    <div id="preloader"></div>
  </div>
</section>

<div id="fadeout"></div>

<div id="column">
    <header>
      <div id="logo" class="clear">
        <div id="picture_wrapper"><div id="picture_border"><div id="picture"></div></div></div>
        <div id="title"><span>JACK MATHEWS</span></div>
      </div>
      {% include "includes/nav.html" %}
      {% include "includes/social.html" %}
    </header>

    {% block pagecontent %}
    Oops! You forgot to include a template file.
    {% endblock %}

    {% include "includes/footer.html" %}
</div> <!-- end of #column -->

{% include "includes/post_scripts.html" %}
{% block additional_post_scripts %}{% endblock %}

</body>
{% endblock %}
</html>
