{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
<section class="content grid">
    <div class="item"><a href="https://www.instagram.com/p/ByC3zA9hedP/"><img src="static/uploads/bali.jpg"></a></div>
    <div class="item"><a href="https://www.youtube.com/watch?v=cKD5sqCcBqU"><img src="static/uploads/landshark_promo.jpg"></a></div>
    <div class="item"><a href="https://www.youtube.com/watch?v=bpDBBaoLY4Y"><img src="static/uploads/landshark1.jpg"></a></div>
    <div class="item"><a href="https://www.youtube.com/watch?v=Vdk-zDCGXfc"><img src="static/uploads/landshark2.jpg"></a></div>
</section>
{% endblock %}

{% block additional_post_scripts %}
{% endblock %}
