{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
<section class="content grid">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</section>
{% endblock %}

{% block additional_post_scripts %}
{% endblock %}
